<%= render 'navbar' %>
<div class="--container">

<h4>Add a new cocktail</h4>
<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.input :recipe %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "Add cocktail", class: "btn btn-primary" %>
  <%= f.button :button, 'Cancel', type: :reset, class: "btn btn-danger" %>
<% end %>

<%= render 'back' %>

</div>

